nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    padding: 15px;
}

nav > ul {
    border: 2px solid black;
    width: 50vw;
    display: flex;
    justify-content: space-around; 
}

nav > ul > a {
    padding: 5px;
    margin: 5px;
}

.active {
    background-color: lightgray;
}